<html>
    <head>
        <title>
            Base
        </title>

<!--        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">-->

        <link rel="stylesheet" href="static/style.css">
    </head>

    <body>
        <center>
            <div class="header">
                <h2>Handwritten Digit Predictor</h2>
            </div>

            <div class="main">
                <form action="/result" method="post" enctype="multipart/form-data">

                    <table cellspacing="10"  border="0">
                        <tr>
                            <td colspan="2" height="200">
                                 <img src="static/pic1.png">
                            </td>
                        </tr>

                        <tr>
                            <td align="center" colspan="2" height="100"> <h2 style="margin-top: 0%;"> Upload picture of a digit </h2> </td>
                        </tr>
                        
                        <tr>
                            <td width="200">
                                <input type="file" name="img">
                            </td>
                            <td width="100">
                                <input type="submit" value="Get Pridiction" style="width: 100px;">
                            </td>
                        </tr>

                        <tr>
                            <td align="center" colspan="2"> 
                                <input type="reset" value="Remove Picture" style="width: 150px; margin-top: 5%;"> 
                            </td>
                        </tr>

                    </table>

                </form>

            </div>
        </center>
    </body>

</html>